
.header_album {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-top: 20px;
  margin-left: 10px;
}
.heading {
  color: #FF005B;
  font-weight: 900;
  font-size: 34px;
}


.album_container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 50px 12%;
}
.album_details {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 170px;
  height: 175px;
  background-color: #d5ecd9;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.album_details:hover {
  cursor: pointer;
  background-color: #FFD1DC;
}
.album_details:hover .album_title {
  background-color: white;
  width: 100%;
}
.album_img {
  height: 80px;
  padding-bottom: 15px;
}
.album_title {
  font-size: 20px;
}
