
.header_img {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-top: 20px;
  margin-left: 10px;
}
.heading {
  color: #DC143C;
  font-weight: 700;
  font-size: 28px;
}
.back_icon {
  width: 55px;
  cursor: pointer;
}
.img_empty {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}
.images_menu {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.images_menu input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1.5px solid #FF005B;
  border-radius: 4px;
  width: 55%;
}
.images_menu input:focus {
  outline: 1.5px solid #66BF10;
  border: none;
  outline-offset: -1px;
}
/* Styles for ImageList component */
.img_conatainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 50px;
}

.img_details {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.img_details:hover .img_options {
  visibility: visible;
}
.img_options {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 80px;
}
.img_options img {
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}
.img_options img:hover {
  transform: scale(1.1);
}
.img_display {
  width: 100%;
  height: 130px;
  overflow: hidden;
  cursor: pointer;
}

.img_display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img_details:hover .img_display img{
  transform: scale(1.1);
  opacity: 0.6;
}

.img_title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  color: #333;
  font-weight: bold;
}
.img_title img{
  width: 30px;
  cursor: pointer;
}

/* Styles for image modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal img {
  max-width: 80%;
  min-height: 70%;
}
.closeButton {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 8px 13px;
  background-color: #D10047;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.closeButton:hover {
  background-color: #cf6281;
}
.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 17px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.prevButton:hover, .nextButton:hover {
  background-color: #8dc95479;
  transition:ease-in 0.2s;
  /* border-radius: 50%; */
  padding: 5px 17px;
}
.prevButton {
  left: 30px;
}
.nextButton {
  right: 30px;
}





